{% load static %}

{% ifchanged None %}
<script type="text/javascript" src="{% static 'discourse/lib/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/lib/jquery.csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/lib/jquery.caret.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/lib/jquery.filedrop.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/lib/tea.js' %}"></script>

<script type="text/javascript" src="{% static 'discourse/js/content.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/js/library.js' %}"></script>

<script type="text/javascript" src="{% static 'discourse/js/storage.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/js/document.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/js/overlay.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/js/toolbar.js' %}"></script>
{% endifchanged %}