{% load static %}

<script type="text/javascript" src="{% static 'discourse/js/library.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/js/storage.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/js/document.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/js/status.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/js/overlay.js' %}"></script>
<script type="text/javascript" src="{% static 'discourse/js/toolbar.js' %}"></script>