{% if not hidden %}
    <section class="library" url="/discourse/attachments/{{path}}">
        <h4>Materials</h4>
        {% if attachments %}
            <ul class="list">
            {% for attachment in attachments %}
                <li>
                    <a href="{{attachment.url}}" class="{{attachment.icon}}" attachment="{{attachment.id}}">
                        <div class="icon icon-{{attachment.icon}}"></div>
                        <div class="text">{{attachment.filename}}</div>
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </section>

    <div class="upload-button button">
        Upload Files
        <input type="file" name="upload[]" multiple="multiple" id="library-upload">
    </div>
{% endif %}
