<div class="library cf" rel="{{ channel.url }}/library/" editable="{{ editable }}">
    <div class="contents">
        <a href="" class="file prototype">
            <img src="{{STATIC_URL}}img/file-icon.png" title="" />
            <div name="name"></div>
        </a>
        {% for file in attachments %}
            <a href="{{file.url}}" class="file {% if file.hidden %}hidden{% endif %}">
                <img src="{{STATIC_URL}}img/file-icon.png" title="{{ file.filename }}" />
                <div name="name">{{file.filename}}</div>
            </a>
        {% endfor %}  
    </div>
    
    <div class="actions">
        <a name="upload" class="button" href="#">Add Files</a>
        <a name="hide" class="button" href="#">Hide</a>
        <a name="show" class="button" href="#">Unhide</a>
        <a name="delete" class="button" href="#">Delete</a>
    </div>
</div>