{% load humanize %}

<div class="comment" id="discourse-comment-{{comment.id}}" rel="{{comment.id}}">
  {% block author %}
    <div class="author">{{ comment.author }}</div>
  {% endblock %}
  <p class="body">
    {{ comment.body|linebreaksbr|urlize }}
  </p>
  <div class="actions">
    <div class="time" title="{{comment.created}}">{{ comment.created|naturaltime }}</div>
    {% if comment.author == request.user %}
        <a class="edit" href="{% url 'discourse:thread' comment.path %}?edit={{comment.id}}">Edit</a>
        <a class="delete" href="{% url 'discourse:thread' comment.path %}?delete={{comment.id}}">Delete</a>
    {% endif %}
  </div>
</div>
