{% load discourse %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{STATIC_URL}}style.css">
        <script type="text/javascript" src="{{STATIC_URL}}jquery.js"></script>


        <link rel="stylesheet" href="{{STATIC_URL}}discourse/css/document.css">
        <link rel="stylesheet" href="{{STATIC_URL}}discourse/css/status.css">

    </head>
    <body>
        <div class="layout">

            <h1>{{ page.title }}</h1>
            {% document page clean='none' %}
          
            {% thread page %}
          
        </div>
    </body>
</html>


